In [1]:

import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass
password = getpass.getpass()

In [2]:
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [96]:

def rental_month(engine, month, year):
    with engine.connect() as connection:
        txt = (f'''SELECT *
               FROM rental
               WHERE MONTH(rental_date) = {month} 
               AND YEAR(rental_date) = {year}
               ;''')
        query = text(txt)
        result = connection.execute(query)
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
        return df    

def rental_count_month(month, year):
    df = rental_month(engine, month, year)
    grouped_df = df.groupby(df['customer_id']).size().reset_index(name=f'rental_{month}_{year}')
    return grouped_df

def compare_rentals(month1, year1, month2, year2):
    df1 = rental_count_month(month1, year1)
    df2 = rental_count_month(month2, year2)
    merged_df = pd.merge(df1, df2, on='customer_id', how='outer')
    merged_df['difference'] = merged_df[f'rental_{month2}_{year2}'] - merged_df[f'rental_{month1}_{year1}']
    return merged_df

In [97]:
df = rental_month(engine, 5, 2005)

In [98]:
rental_count_month(5, 2005)

     customer_id  rental_5_2005
0              1              2
1              2              1
2              3              2
3              5              3
4              6              3
..           ...            ...
515          594              4
516          595              1
517          596              6
518          597              2
519          599              1

[520 rows x 2 columns]

In [99]:
rental_count_month(5, 2005)

     customer_id  rental_5_2005
0              1              2
1              2              1
2              3              2
3              5              3
4              6              3
..           ...            ...
515          594              4
516          595              1
517          596              6
518          597              2
519          599              1

[520 rows x 2 columns]

In [100]:
compare_rentals(5, 2005, 6, 2005)

     customer_id  rental_5_2005  rental_6_2005  difference
0              1            2.0            7.0         5.0
1              2            1.0            1.0         0.0
2              3            2.0            4.0         2.0
3              4            NaN            6.0         NaN
4              5            3.0            5.0         2.0
..           ...            ...            ...         ...
593          595            1.0            2.0         1.0
594          596            6.0            2.0        -4.0
595          597            2.0            3.0         1.0
596          598            NaN            1.0         NaN
597          599            1.0            4.0         3.0

[598 rows x 4 columns]